{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>YouTube Downloader</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<div class="bungkus">
<!-- nav bar start here -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Download Video from youtube</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item ">
                    <a class="nav-link" href="#">Facebook Photo/video Download <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Instagram Photo/video Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Whatsapp Status Download</a>
                </li> -->

        </ul>

    </div>
</nav>
<!-- nav bar end here -->

<!-- container start here -->
<br><br><br><br>
<div class="container">
    <center><h1 class="mt--5 link"> Pastekan Link video Youtube disini</h1></center>
    <!-- form start here -->
    <form method="post">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <input name="ylink" type="text" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Masukkan Link video disini">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <br>
        <center>
            <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>
    <!-- form end here -->
    <!-- gua tambahin codenya disini -->
    <div class="bungkus-download mt-4">

        {% if yobj %}

        <strong><h1 style="text-align: center; margin-bottom: 30px; margin-top: 50px;">
            {{ yobj.title }}
        </h1>
        </strong>

        <div class="col"
             style="color: white; text-align: center; margin-top: 30px; color: black; margin-top: 20px; margin-bottom: 20px;">
            <i class="fa fa-eye" style="margin-right: 10px; font-size: 20px; color: black;"></i>{{ yobj.viewcount }}
            <i class="fa fa-star-o"
               style="margin-right: 10px; margin-left: 30px; font-size: 20px; color: black;"></i>{{ yobj.rating|floatformat }}
        </div>

        <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" src="{{ embedlink }}"></iframe>
        </div>

        <table class="table table-hover table-striped table-bordered" style="margin-top: 30px; margin-bottom: 50px; color: black;">
            <thead class="thead-dark" >
                <h1 class="text-center mt-5">Video</h1>
            <tr class="text-center">
                <th scope="col">Quality</th>
                <th scope="col">File Size</th>
                <th scope="col">Download</th>
            </tr>
            </thead>
            {% for i in yobj.streams %}
                <tbody style=" color: black;">
                <tr class="text-center">
                    <th scope="row">{{ i.quality }}</th>
                    <td>{{ i.get_filesize|filesizeformat }}</td>
                    <td><a class="btn btn-success" href="{{ i.url }}" target="new"><strong">Download</strong></a></td>
                </tr>
                </tbody>
            {% endfor %}
        </table>

        <table class="table table-hover table-striped table-bordered" style="margin-top: 30px; margin-bottom: 50px; color: black; font-family: 'Poppins', sans-serif;">
            <h1 class="text-center">Audio</h1>
            <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">Quality</th>
                <th scope="col">File Size</th>
                <th scope="col">Download</th>
            </tr>
            </thead>
            {% for i in yobj.audiostreams %}
                <tbody style=" color: black;">
                <tr class="text-center  ">
                    <th scope="row">{{ i.quality }}</th>
                    <td>{{ i.get_filesize|filesizeformat }}</td>
                    <td><a class="btn btn-success" href="{{ i.url }}" target="new"><strong">Download</strong></a></td>
                </tr>
                </tbody>
            {% endfor %}
        </table>

        <div class="col"
             style="color: white; text-align: center; margin-top: 30px; font-size: 20px ; color: black; margin-top: 20px; margin-bottom: 20px; font-family: 'Poppins', sans-serif;">
            <strong>Username </strong>
            <p>{{ yobj.username }}</p>
            <strong>Video ID </strong>
            <p>{{ yobj.videoid }}</p>
            <strong>Watch URL </strong>
            <p><a href="{{ yobj.watchv_url }}">{{ yobj.watchv_url }}</a></p>
            <strong>Author </strong>
            <p>{{ yobj.author }}</p>
        </div>
        <center>
            <img src="{{ yobj.bigthumb }}" style="width: 50%; height: auto">
        </center>


    {% endif %}


</div>

    </div>
    <!-- akhir code tambahan -->
    

<!-- container end here -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>